<h1> <%= @user.first_name %></h1>
<h2> <%= @user.last_name %> </h2>
<h3>Member of the District Pawsee since: <%= @user.created_at.strftime('%B %d') %> </h3>

<h3> Total posts: <%= @user.posts.count%>  </h3>
<% if @booking.present? %>
<h3> Bookings: <%=@user.bookings.count %> </h3>
<% end %> 
<h3> Hosting: </h3>
<h3> Sitting: </h3>
<h3> <%= image_tag @user.profile_photo, class: 'img-responsive' %> </h3>


