<% @posts.each do |post| %>
  <h2> <%= link_to post.pet_name, post_path(post) %> </h2>
  <br />
  <i> <%= post.address_line %>
  <i> <%= post.zipcode %> 
  <p> <%= post.description %> </p>
  <i> From: <%= post.event_from %> </i>
  <i> To:<%= post.event_to %> </i> 
  <% if post.user.present? %>

  <small><%= post.user.email %></small>
<% end %>

<button> <%= link_to 'Request booking', '#' %> </button>

<% end %>
