<%= @post.pet_name %>
<i> <%= @post.address_line %> </i>
<br />
<br />
<p> <%= @post.description %> </p>
<div class="pull-right">
<% if current_user && current_user = @post.user %>
  <%=link_to "Edit", edit_post_path(@post), class:'btn btn-md btn-success' %>
  <%=link_to "Delete", post_path(@post), method: :delete, data: {confirm: 'Are you sure you want to delete this ad?'}, class: 'btn btn-danger' %>
  <% end %>
</div>


   <% if @post.latitude.present? && @post.longitude.present? %>

  
    <script>

      function initMap() {
        var myLatLng = {lat: <%= @post.latitude%>, lng: <%= @post.longitude%>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0zwWfNZ8RMpmoSr3jFs2HKv8LFzg9X6E&callback=initMap">
    </script>

    <div id="map"> </div>



  <!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Add a Review
</button>

 <%= link_to 'Book', post_bookings_path(@post), class:'btn btn-primary' , method: :post%>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a Review</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      
      </div>
      <% end %>

    </div>
  </div>
</div>



  